extends ../layouts/common

block content

  form(action="/books", method="get")
    label(for='title') Title: 
    input#title(type="text", name="q", value=value)
    button(type="submit") Search book

  p Books List:
    ul
      each val in books
        li= `${val.title} `
          a(href=`/cart/add/${val._id}`) Add to cart
          if(user)
            a(href=`/books/${val._id}/detail`) Detail
            a(href=`/books/${val._id}/delete`) Delete
  if (user)
    form(action="/books/add", method="post")
      label(for='title') Title:
      input#title(type="text", name="title")
      label(for='description') Desc:
      input#description(type="text", name="description")
      button Add book