extends ../layouts/common

block content
  if errors
    each error in errors
      p.alert.alert-danger= error
  p Transactions List:
    ul
      each val in transactions
        li= `ID: ${val._id}. User name: ${val.userName}. Book title: ${val.bookTitle}`
          a(href=`/transactions/${val._id}/delete`) Delete
          a(href=`/transactions/${val._id}/complete`) Done !
  
  nav
    ul.pagination
      if(pageFoot.prevPage != 0)
        li.page-item
          a.page-link(href="/transactions?page="+pageFoot.prevPage) &laquo;
      li.page-item
        a.page-link(href="/transactions?page="+pageFoot.page) Page #{pageFoot.page}
      if(pageFoot.nextPage != pageFoot.maxPage)
        li.page-item
          a.page-link(href="/transactions?page="+pageFoot.nextPage) &raquo;

  form(action="/transactions/add", method="post")
    label(for="userId") User name: &nbsp;
    select#userId(name="userId")
      each val in users
        option(value=val._id) #{val.name}
    
    label(for="bookId") Book title: &nbsp;
    select#bookId(name="bookId")
      each val in books
        option(value=val._id) #{val.title}
    
    button Add transaction