extends ../layouts/common

block content
  if errors
    each error in errors
      alert.alert-danger= error
  p Transactions List:
    ul
      each val in transactions
        li= `User name: ${val.userName}. Book title: ${val.bookTitle}`
          a(href=`/transactions/${val._id}/delete`) Delete
          a(href=`/transactions/${val._id}/complete`) Done !

  form(action="/transactions/add", method="post")
    label(for="userId") User name: &nbsp;
    select#userId(name="userId")
      each val in users
        option(value=val._id) #{val.name}
    
    label(for="bookId") Book title: &nbsp;
    select#bookId(name="bookId")
      each val in books
        option(value=val._id) #{val.title}
    
    button Add transaction